*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#E02C6D;
}
/* share style  */
.btn-primary{
    border-radius: 41px;
    background: var(--primary-color);
    padding: 10px 24px;
    color: #fff;
    border: none;
}
/* header section style start here  */
/* nav section  */
header{
    margin: 0px 120px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}
.menu > ul{
    list-style: none;
    display: flex;
    align-items: center;
    

}
 li{
    margin-left: 34px;
}
/* nav section end  */
 /* hero secton start  */
 .hero{
     display: flex;
     align-items: center;
     /* justify-content: space-between; */
     gap: 0px 180px;
     margin: 0px 120px;

 }
 .hero-title{
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
 }
 .hero-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px;
    padding-right: 48px;
 }

 .hero-img{
     background: url('../images/Circle\ design.svg');
     background-size: 475px;
     background-position: center;
     background-repeat: no-repeat;
     padding: 30px 33px 31px 1px;

 }
 .camera{
     width: 440px;
 }
 /* hero section end here  */

 .partner{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 20px;
     border-bottom: 1px solid gray;
     border-top: 1px solid gray;
     margin: 70px 250px;

 }
 /* 
 .
 partner section end here 
 . 
 */
 /* collection section start here  */
 .checked {
    color: orange;
  }
  .section-header{
      text-align: center;
      margin: 100px 0px 50px 0px;
  }
  .section-title{
    color: #3A3A3A;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 250% */
  }

  .collection{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0px 195px;
      gap: 30px;
  }

  .card{
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
  }
  .product-title{
    color:#18191F;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
  }
  .price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    
  }
  .rating{
      display: flex;
      align-items: center;
  }
  #p{
      margin-left: 20px;
      font-size: 0.8rem;
      font-weight: 400px;
  }
  .product-description{
    color: #787885;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.252px;
    margin-top: 10px;
  }
  /* colection section style end  here  */
  .single-product{
      display: flex;
      align-items: center;
      padding: 170px 165px;
      gap: 0px 96px;

  }
  .sp-title{
    color: #0A0826;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 157.895% */
  }

  .sp-description{
    color: #6C6C6C;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 145px;
    
  }
.btn-sp{
    border-radius: 5px;
    
}
/* 
footer section start here
 */
 footer{
     background-color: #0A0826;
     color: #fff;
     height: 250px;
     padding: 50px 0px;
     text-align: center;

 }
 .fa-brands{
     color: #fff;
     margin: 10px 10px ;
     background-color: rgba(185, 185, 198, 0.1);
     padding: 10px;
     border-radius: 10px;
     font-size: 1.5rem;
 }






 /*
 .
 .
 .
 .
 .
 .
 Responsive section start here  
 .
 .
 .
 .

 */

 @media screen and (max-width:576px) {
     header{
         margin: 20px 20px;
     }
    nav{
         flex-direction: column;
     }

     .menu > ul{
         flex-direction: column;
     }
     li{
         padding: 10px;
         border: 1px solid black;
         text-align: center;
         width: 100%;

     }
     .hero{
         flex-direction: column-reverse;
         margin: 15px;
     }
     .hero-content{
         text-align: center;
     }
     .hero-title{
         font-size: 1.7rem;
         line-height: normal;
         margin: 15px 0px;
     }
     .hero-description{
        font-size:0.8rem ;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-right: 0px;
     }
     .hero-img{
        background-size: 341px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 30px 35px;
        margin: 0px auto;
   
    }

     .camera{
         width: 290px;
     }

     .partner{
         flex-wrap: wrap;
         padding: 10px 10px;
         border-bottom: none;
        border-top: none;
        margin: 50px 23px;
        gap: 10px 8px;
     }
     .partner > img{
         width: 60px;
     }

     .collection{
         grid-template-columns:1fr;
         padding: 0px 24px;
     }
/* single product section start here  */
    .single-product{
        flex-direction: column-reverse;
        row-gap: 30px;
        padding: 50px 20px;
    }
    .single-product-info{
        text-align: center;
    }
    .sp-description{
        padding: 16px 20px;
    }
    .single-product > img{
        width: 100%;
    }

     /* mobile device Responsive end here  */
 }